<!DOCTYPE html>
<html>
<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="/images/favicon.png" type="">

  <title> Legal asssist </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/css/responsive.css" rel="stylesheet" />

  <style type="text/css">
  
  .SearchAsClient {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.containersearch {
    max-width: 600px;
    margin: 50px auto;
    background-color: gray;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.containersearch form{
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
}



/* Style for profile pages  */
  .containersearchforshowingprofile{
    background:skyblue;
}

.card{
    border:none;

    position:relative;
    overflow:hidden;
    border-radius:8px;
    cursor:pointer;
}

.card:before{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#E1BEE7;
    transform:scaleY(1);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:after{
    
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:4px;
    height:100%;
    background-color:#8E24AA;
    transform:scaleY(0);
    transition:all 0.5s;
    transform-origin: bottom
}

.card:hover::after{
    transform:scaleY(1);
}


.fonts{
    font-size:11px;
}

.social-list{
    display:flex;
    list-style:none;
    justify-content:center;
    padding:0;
}

.social-list li{
    padding:10px;
    color:#8E24AA;
    font-size:19px;
}


.buttons button:nth-child(1){
       border:1px solid #8E24AA !important;
       color:#8E24AA;
       height:40px;
}

.buttons button:nth-child(1):hover{
       border:1px solid #8E24AA !important;
       color:#fff;
       height:40px;
       background-color:#8E24AA;
}

.buttons button:nth-child(2){
       border:1px solid #8E24AA !important;
       background-color:#8E24AA;
       color:#fff;
        height:40px;
}

#result div {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px 0;
        }

</style>

</head>


<body style="background: skyblue;">

  <div class="hero_area">
    <!-- header section strats -->
    
    {{> header_section}}
     
    <!-- end header section -->
    

    <!--search section start-->

    <div class="SearchAsClient">
    <div class="containersearch">
      <h1>Search</h1>
      <form action="/auth/search" method="GET">
          <input type="text" name="query" placeholder="Enter username">
          <button type="submit">Search</button>
      </form>
      <div id="result">
        
        {{#if lawyers.length}}
            {{#each lawyers}}
                <div>
                    <h3>{{this.full_name}}</h3>
                    <p>Email: {{this.email}}</p>
                    <p>Contact: {{this.phone}}</p>
                </div>
            {{/each}}
        {{else}}
            <p>No results found.</p>
        {{/if}}
      </div>
  </div>
</div>


    <!-- end Search section -->

    <!-- Profile section start-->

<!--*************************************************************-->


    <!-- showing prpgile -->

     <div class="containersearchforshowingprofile mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
          
            <div class="card p-3 py-4">
                
                <!--<div class="text-center">
                    <img src="/images/profile-picture.png" width="100" class="rounded-circle">
                </div>-->
                
                <div class="text-center mt-3">
                    <!--<span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>-->
                      {{#if lawyers.length}}
                      {{#each lawyers}}
                    <div class="text-center">
                    <img src="/images/profile-picture.png" width="100" class="rounded-circle">
                    </div>  
                    <h5 class="mt-2 mb-0">{{this.full_name}} </h5>
                    <span>Family Laywer</span>
                    
                    <div class="px-4 mt-1">
                        <p class="fonts">{{this.email}}</p>
                    
                    </div>
                    
                     <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><i class="fa fa-linkedin"></i></li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>
                    <br>
                    <div class="buttons">
                        
                        <button class="btn btn-outline-primary px-4">Message</button>
                        <button class="btn btn-primary px-4 ms-3">Contact</button>
                    </div>
                    <br>
                    <br>
                    <br>
                    {{/each}}
                    {{else}}
                    <div><p>No results found.</p></div>
                    {{/if}}
                    
                    
                </div>
            </div>
        </div>
</div>

        

    <!-- end showing profile-->

    <br>
    <br>
    <br>
    <br>

  <!-- info section -->
  {{> info_section}}
  <!-- end info section -->

  <!-- footer section -->
  <!-- info is enough -->
  <!-- footer section -->

  <!-- jQery -->
  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- custom js -->
  <script type="text/javascript" src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->



</body>

</html>